/* Updated Contact.css */

.contact-content {
  text-align: center;
  margin-top: 40px;
  background-color: rgb(50, 50, 50); /* A slightly lighter gray than the footer */
  padding: 20px;
  border-radius: 8px; /* Optional: to add some visual distinction */
  width: 80%;
  margin: 40px auto; /* Center and add vertical spacing */
}

.location-container {
  width: 100%;
  margin: 0 auto 30px auto; /* Center the map and add margin at the bottom */
}

.contacts-list {
  margin-top: 20px;
}

.contacts-list p {
  margin: 8px 0;
  font-size: 18px;
  color: #fff;
}

.contact-link {
  color: #fff;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-header {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
}
