body {
  background-color: #E8E8E8;
}

.organoids-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

.diagnose {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem; /* Match other headers */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.organoids-description {
  margin-top: 30px;
  font-size: 1.3rem; 
  color: #333;
  margin-bottom: 40px;
  line-height: 1.6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background-color: white;
}

.organoid-gifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.organoid-gif {
  flex-basis: calc(50% - 20px);
  max-width: 400px;
  width: 100%;
  border: 2px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(20, 48, 56, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.organoid-gif:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.organoid-gif p {
  margin-top: 10px;
  font-size: 1.1rem;
  color: black;
}