.footer-container {
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(35, 35, 35) 100%);
  padding: 2rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-logo {
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo-image {
  width: 12vw;
  height: auto;
  margin: 2vh 3vw;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 12px;
  padding: 12px;
  color: #fff;
}

.footer-subscription-heading {
  margin-bottom: 24px;
  font-size: 22px;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 19px;
}

.footer-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  margin-bottom: 16px;
  border: 1px solid #fff;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link-wrapper {
  display: flex;
  justify-content: center;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
  color: #fff;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 16px;
  padding: 2px 0;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
}

.social-media-spacing {
  margin-bottom: 40px; /* Added for spacing */
}

.website-rights {
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
}

.btn--outline {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 22px;
  font-size: 16px;
  cursor: pointer;
  background: none;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.btn--outline:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}